NODE_ENV=development

POSTGRES_DB=grc_risk_register
POSTGRES_USER=grc_user
POSTGRES_PASSWORD=change_me

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=grc_risk_register
DATABASE_USER=grc_user
DATABASE_PASSWORD=change_me

JWT_SECRET=replace_with_a_long_random_value
JWT_EXPIRES_IN=1h

API_PORT=3001
WEB_PORT=3000

CORS_ORIGIN=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1
